.form-body {
    margin: 50px;
    background-color: burlywood;
    padding: 30px;
}

.form-controll {
    font-size: xx-large;
    text-align: center;
}

.overflow-input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-controll input {
    width: 20%;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.data-controll {
    margin: 50px;
    background-color: khaki;
    padding: 10px;
}

.mainData p {
    text-align: center;
    font-size: x-large;
}

.showData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.data {
    padding: 10px;
    width: auto;
    font-size: 25px;
    height: max-content;
    border: 2px solid black;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_style {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 10px;
    margin-left: 10px;
    word-wrap: break-word;
    text-align: start;
}

.complete-check {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complete-check input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.complete-check input[type="checkbox"]:checked+.checkmark {
    background-color: limegreen;
}

.checkmark {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
}

.dueDate_style {
    width: 20%;
    text-align: center;
}

.Buttons {
    display: flex;
    justify-content: center;
}

.editButton {
    height: 40px;
    width: 70px;
    font-size: large;
    background-color: green;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 50px;
}

.deleteButton {
    height: 40px;
    width: 70px;
    font-size: large;
    background-color: red;
    cursor: pointer;
    border-radius: 50px;
}